* {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}

body {
  margin: 0px;
  background-color: #fafafa;
  background-image: url("../images/background.png");
  animation-name: bgAnimate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  overflow: auto;
}
@keyframes bgAnimate {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: 100px;
  }
}

nav {
  z-index: 10;
  position: sticky;
  top: 0;
  height: 60px;
  background-color: #ffffff;
  border-bottom: 2px solid #cccccc;
}

#navInner {
  width: 80%;
  max-width: 960px;
  min-width: 400px;
  margin: 0 auto;
  line-height: 60px;
}

.navButton {
  float: right;
  padding: 0px 10px;
  background-color: #ffffff;
  transition: background-color 0.5s;
}

.navButton:hover {
  background-color: #eeeeee;
}

.navButtonText {
  color: #777777;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  text-decoration: none;
  padding: 10px;
}

.navCurrent {
  border-bottom: 4px solid #777777;
}

/* style to display my name fancily on the navbar */
#nameRibbon {
  float: left;
  background-color: #4aaaa5;
  text-align: center;
  width: 30%;
  height: 60px;
  top: 0px;
  overflow: hidden;
}
#nameRibbonText {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-size: 30px;
  color: #ffffff;
}

@keyframes contentLoadAnim {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}

/* container for main content of each page */
article {
  animation-name: contentLoadAnim;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  width: 80%;
  overflow: hidden;
  max-width: 960px;
  margin: 40px auto 0px auto;
  padding: 20px;
  background-color: #ffffff;
  border: 2px solid #cccccc;
  line-height: 1.5em;
}

.articleContent {
  margin-top: 20px;
  text-indent: 2em;
}

.portfolioItem {
  width: 250px;
  height: 200px;
  margin: 20px;
  float: left;
  background-image: url("../images/250x200.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5s;
}
.portfolioItem:hover {
  background-size: 120%;
}

.portfolioItem::after {
  content: attr(data-title);
  text-align: center;
  line-height: 40px;
  position: relative;
  display: block;
  height: 40px;
  width: 250px;
  top: 150px;
  background-color: #4aaaa5;
  font-size: 20px;
  font-style: italic;
  color: #ffffff;
  transition: 0.5s;
}

.portfolioItem:hover::after {
  color: #000000;
}

hr {
  border-top: 2px solid #cccccc;
}

img {
  float: left;
  margin: 20px;
}

footer {
  background-color: #666666;
  position: fixed;
  height: 50px;
  color: #ffffff;
  border-top: 8px solid #4aaaa5;
  display: flex;
  padding: 10px;
  bottom: 0;
  width: 100%;
}
#footerContent {
  font-family: times serif;
  color: white;
  margin: auto auto 0 auto;
}

/* div to clear space for the footer */
.footerClear {
  clear: both;
  height: 90px;
}

h1 {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-size: 30px;
  color: #4aaaa5;
}

p {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  color: #777777;
  margin: 0px;
}

input {
  border: 2px solid #cccccc;
  padding: 4px;
  margin-bottom: 20px;
}

textarea {
  border: 2px solid #cccccc;
  padding: 4px;
  margin-bottom: 20px;
}

button {
  display: block;
  border: none;
  background-color: #4aaaa5;
  color: white;
  padding: 10px;
  min-width: 100px;
}

button:active {
  background-color: #288883;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
